*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
ul.parent{
    display: flex;
    background-color: gray;
    justify-content: flex-end;
    padding: 10px;
    li{
        position: relative;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 22px;
            padding: 10px;
            color: #ffff;
            &:hover{
                color: red;
            }
        }
        ul{
            position: absolute;
            display: none;
            top:50px;
            background-color: gray;
        }
        &:hover{
            ul{
                display: block;
            }
        }
    }
}
.header{
    background-image: url("../images.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}
.content{
    padding: 10px;
    .productes{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        li{
            width: 200px;
            height: 200px;
            background-color:#f0f0f0;
            position: relative;

            button{
                position: absolute;
                border: none;
                width: 100%;
                height: 20px;
                bottom: 0;
                background-color:black;
                color: red;
            }
            img{
                position: absolute;
                left: 80px;
                bottom: 50%;
                height: 100px;
                width: 100px;
                transform:translate(-50%,50%);
            }
        }
        p{
            text-align: center;
            color: red;
            font-style: italic;
        }
    }
    
}
